@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

html {
	background-color: #6b645c;
}

body {
	max-width: 1026px;
	margin: 8px auto;
	text-align: center;
	font-family: "News Cycle", sans-serif;
	background-color: #fff;
}

// HEADER :

header {
	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin: 0 10px;
		font-size: 1.1em;

		li {
			width: 144px;
			height: 118px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		li:first-child {
			background-color: #662f32;
			color: #fff;
		}
	}

	.title-header {
		text-transform: capitalize;
		font-size: 7.5em;
		font-weight: bold;

		.red {
			color: #662f32;
		}

		.title-header::first-letter {
			word-spacing: 0;
		}
	}

	img {
		width: 100%;
	}
}

// Section-1 :

.sec-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	.card {
		margin-top: 20px;
		width: 288px;
		height: 440px;
		position: relative;
		background-color: #645955;

		h2 {
			color: #fff;
			background-color: #662f32;
			font-weight: 300;
			margin: 0px;
			padding: 5px;
			font-size: 1.3em;
		}

		.img-card {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		p {
			text-align: left;
			margin: 0;
			padding-top: 20px;
			color: #fff;
			font-size: 1.1em;
			font-weight: normal;
			font-family: sans-serif, Helvetica, sans-serif;
			line-height: 17px;
		}

		.add-card {
			position: absolute;
			width: 4.5em;
			right: 0;
			bottom: 0;
		}

		.add-card:hover {
			content: url("img/plus_btn_h.png");
		}
	}
}

// Section-2 :

.sec-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: left;
	margin-bottom: 28px;

	.info {
		width: 30%;
		margin-top: 35px;

		.title-info {
			font-size: 1.5em;
			font-weight: normal;
		}

		ul {
			list-style-image: url(img/arrow.png);
			margin: 0;
			padding-inline-start: 20px;

			li {
				margin-top: 15px;
				line-height: 18px;
			}
		}

		p {
			line-height: 18px;
		}

		.sub-title-info {
			color: #662f32;
			line-height: 20px;
			font-size: 20px;
		}

		button {
			color: #fff;
			background-color: #574c48;
			border: none;
			font-size: 18px;
			padding: 10px 14px 24px 14px;
		}
	}
}

// Footer :

footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 109px;

	p {
		margin-left: 10px;
	}

	.logo {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		margin-right: 15px;
		width: 12%;

		.logo_1:hover {
			content: url(img/reseaux/f_h.png);
		}

		.logo_2:hover {
			content: url(img/reseaux/t_h.png);
		}

		.logo_3:hover {
			content: url(img/reseaux/g_h.png);
		}
	}
}
